---
import { Image } from "astro:assets";
import { type Content } from "../types/content";
import FormattedDate from "./formatted-date.astro";
type Props = Content;

const {
  slug,
  data: { thumbnail, title, description, publishDate },
} = Astro.props;
---

<a
  href={`/projects/${slug}`}
  class="border max-w-full border-black/10 relative inline-block hover:-translate-y-1 transition duration-300 hover:shadow-lg hover:shadow-black/20 hover:dark:shadow-white/20"
>
  <Image
    width={1024}
    height={500}
    alt={thumbnail.alt}
    class="w-full brightness-75 object-cover h-auto rounded-sm"
    src={thumbnail.src}
    loading="eager"
    fetchpriority="high"
  />

  <article
    class="bottom-0 backdrop-blur border-t bg-gray-600/50 dark:bg-gray-950/50 border-t-gray-400 absolute w-full left-1/2 flex flex-col px-2 py-4 -translate-x-1/2 -traslate-y-1/2 gap-y-2"
  >
    <h4 class="font-semibold text-white">
      {title}
    </h4>
    <p class="text-sm text-gray-200">{description}</p>
    <div class="flex justify-between items-end">
      <FormattedDate
        date={publishDate}
        class="text-blue-200 dark:text-blue-400 text-xs py-2"
      />
    </div>
  </article>
</a>
