---
import { Image } from 'astro:assets'
import { type Content } from '../types'
import FormattedDate from './formatted-date.astro'
import TagsList from './tags-list.astro'
type Props = Content

const {
  slug,
  data: { thumbnail, title, description, tags, publishDate },
} = Astro.props
---

<a
  href={slug}
  class='border max-w-full border-black/10 relative inline-block hover:shadow-lg hover:shadow-black/30 dark:hover:shadow-white/20 transition duration-200 group hover:translate-y-1'>
  <Image
    alt={thumbnail.alt}
    class='w-full brightness-50 group-hover:brightness-[0.9] transition-all duration-200 object-cover h-auto'
    src={thumbnail.src}
  />
  <h3
    class='font-semibold text-white top-1/2 text-center absolute left-1/2 -translate-x-1/2 -traslate-y-1/2'>
    {title}
  </h3>
  <article
    class='bottom-0 backdrop-blur border-t bg-gray-600/50 dark:bg-gray-950/50 border-t-gray-400 transition-opacity group-hover:opacity-100 opacity-0 duration-200 absolute w-full left-1/2 flex flex-col px-2 py-4 -translate-x-1/2 -traslate-y-1/2'>
    <p class='text-sm text-gray-200'>{description}</p>
    <div class='flex justify-between items-end'>
      <TagsList tags={tags} />
      <FormattedDate
        date={publishDate}
        class='text-blue-950 dark:text-blue-400 text-xs py-2'
      />
    </div>
  </article>
</a>
