---
import { Image } from "astro:assets";
import SectionContainer from "@/components/section-container.astro";
import Title from "@/components/title.astro";
interface Props {
  image: string;
  imageAlt: string;
  title: string;
  description: string;
}

const { imageAlt, image, description, title } = Astro.props;
---

<SectionContainer id="home">
  <article
    class="w-full flex flex-col md:flex-row gap-y-12 gap-x-6 justify-center items-center mt-6"
  >
    <header class="flex flex-col gap-y-8 w-full">
      <div class="w-full flex flex-col gap-y-2">
        <Title>
          {title}
        </Title>
        <p class="text-pretty">
          {description}
        </p>
      </div>
    </header>
    <div class="flex flex-col justify-center items-center">
      <Image
        width={1024}
        height={800}
        src={image}
        id={"poster"}
        class={imageAlt}
        alt={"Poster hero page index"}
      />
    </div>
  </article>
</SectionContainer>

<script>
  const poster = document.getElementById("poster");
  const height = poster?.clientHeight;
  const width = poster?.clientWidth;

  poster?.addEventListener("mousemove", (event) => {
    const { offsetX, offsetY } = event;

    if (width && height) {
      const yRotation = ((offsetX - width / 2) / width) * 20;
      const xRotation = ((offsetY - height / 2) / height) * 20;

      const string = `
        perspective(500px)
        scale(1.1)
        rotateX(${xRotation}deg)
        rotateY(${yRotation}deg)
      `;

      poster.style.transform = string;
    }
  });

  poster?.addEventListener("mouseout", () => {
    const string = `
        perspective(500px)
        scale(1)
        rotateX(0deg)
        rotateY(0deg)
      `;

    poster.style.transform = string;
  });
</script>
