---
import { Image } from 'astro:assets'
import { type Content } from '@/types'
type Props = Content

const {
  data: { description, thumbnail, title },
  slug,
} = Astro.props
---

<a
  href={slug}
  class='flex flex-col rounded-sm gap-y-4 shadow-lg border-black/30 dark:border-black/20 shadow-black/30 dark:shadow-black/20'>
  <Image
    alt={thumbnail.alt}
    width={thumbnail.src.width}
    height={thumbnail.src.height}
    class='w-full h-auto rounded-t-sm'
    src={thumbnail.src}
  />
  <div class='px-4 py-3 flex flex-col gap-y-4'>
    <h3 class='font-bold'>{title}</h3>
    <p class='text-sm'>{description}</p>
  </div>
</a>
