---
import { Image } from 'astro:assets'
import { type Content } from '@/types'

interface Props {
  content: Content
  class?: string
}

const {
  content: {
    thumbnail: { src, alt },
    path,
    title,
    description,
  },
  class: className,
} = Astro.props
---

<a
  href={path}
  class={`flex flex-col items-center justify-center border-2 border-slate-400/10 ${className} `}>
  <Image
    class={'brightness-50 h-full w-full object-cover '}
    src={src}
    alt={alt}
    height={src.height}
    width={src.width}
  />
  <div>
    <h1 class='font-semibold'>
      {title}
    </h1>
    <p class=''>
      {description}
    </p>
  </div>
</a>
