---
import Footer from "@/components/footer.astro";
import Head from "@/components/head.astro";
import Header from "@/components/header.astro";
import ProgressBar from "@/components/progress-bar.astro";
import { SITE_CONFIG } from "@/constants/site-config";
import { SOCIAL_MEDIA } from "@/constants/social-media";
import type { Meta } from "@/types/meta";
import "@fontsource-variable/urbanist";
import { ViewTransitions } from "astro:transitions";
interface Props {
  meta: Meta;
}

const {
  meta: { title, description = SITE_CONFIG.description, ogImage, articleDate },
} = Astro.props;
---

<!doctype html>
<html lang="en" class="min-h-screen">
  <head>
    <Head
      title={title}
      description={description}
      ogImage={ogImage}
      articleDate={articleDate}
    />
    <ViewTransitions />
  </head>
  <body
    class="dark:text-gray-200 text-gray-950 overflow-x-hidden dark:bg-gray-950 bg-gray-200"
  >
    <Header />
    <div
      class="scroll-m-20 w-full mx-auto container lg:max-w-4xl md:max-w-2xl flex flex-col justify-center my-20 px-2"
    >
      <slot />
    </div>
    <ProgressBar />
    <Footer redes={SOCIAL_MEDIA} />
    <style is:global>
      :root {
        color-scheme: light dark;
      }

      html {
        scroll-behavior: smooth;
        font-family: "Urbanist Variable", system-ui, sans-serif;
      }

      @media (prefers-reduced-motion: reduce) {
        html {
          scroll-behavior: auto;
        }
      }
    </style>
  </body>
</html>
